:root {
    --headingcolor: rgb(175, 170, 78);s
    --headingfont:"Carrois Gothic SC";
     
    
    
}
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(10, 143, 143),rgb(175, 170, 78), rgb(89, 86, 86),rgb(10, 143, 143),rgb(175, 170, 78), rgb(89, 86, 86),rgb(10, 143, 143),rgb(175, 170, 78),  rgb(89, 86, 86));
    font-family: "league gothic";
    font-size: 1em;

}
header {
    display: flex;
    align-items:center;
    background: linear-gradient(to right, rgb(10, 143, 143),rgb(175, 170, 78), rgb(89, 86, 86),rgb(10, 143, 143),rgb(175, 170, 78), rgb(89, 86, 86),rgb(10, 143, 143),rgb(175, 170, 78),  rgb(89, 86, 86));
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
    font-size: 1em;
    font-family:"Carrois Gothic SC"
    

}

header nav ul li {
    padding: 4px 4px 4px 4px;
    background: whitesmoke;
    color:rgb(175, 170, 78);
    font-size: 1em;
    
    
}
.name {
    color:rgb(175, 170, 78);
    background: white;
    width: 45%;
   
}





.subtitle {
    display: flex;
    justify-content: center;
    padding: 4%;
    color: var(--headingcolor);
    background: white;
    background-size: 99em;
    font-size: 3em;

}

h1 {
    background: linear-gradient(to right, rgb(10, 143, 143),rgb(175, 170, 78), rgb(89, 86, 86),rgb(10, 143, 143),rgb(175, 170, 78), rgb(89, 86, 86),rgb(10, 143, 143),rgb(175, 170, 78),  rgb(89, 86, 86));
    color: white;
    font-family: var(--headingfont);
    font-size: 2em;
    padding: 3%;
}



section {

   display: flex;
   flex-direction: row; 
   padding-left: 8px;
   justify-content: space-around;
   padding: 1%;
}

p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    justify-content:space-between;
    padding: 5%;
    color: black;
    background: white;
    font-family: "Carrois Gothic SC"
    
}


img {
    display:flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    
}

.footer{
    display: flex;
    flex-direction: column;
}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

nav ul li {
    list-style: none;
    text-decoration: underline;
    justify-content: space-evenly;
    padding: 4px;
}



